*{
    margin: 0;
    padding: 0;
}
@media (min-width:1280px){
.container{
    width: 100%;
    height: 100vh;
}
header{
    height: 12vh;
    background-color: darkgray;
}

.third{
    background-color: yellow;
}
.fullcontent{
    margin-top: 1vh;
margin-bottom: 1vh;
    height: 74%;
    display: flex;
    
}
.content{
    width: 80%;
    display: flex;
    flex-direction: column;

}
.first{
    flex: 1;
    background-color: orangered;
}
.second{
    flex: 1;
    background-color: orange;
}
.third{
    width: 20%;
    background-color: yellow;
}
footer{
    height: 12vh;
    background-color: darkgray;
}

}
@media (min-width:600px) and (max-width:1280px){
    .container{
        width: 100%;
        height: 100vh;
    }
    header{
        height: 12vh;
        background-color: darkgray;
    }
    
    .third{
        background-color: yellow;
    }
    .fullcontent{
        margin-top: 1vh;
    margin-bottom: 1vh;
        height: 74vh;
        display: flex;
        
    }
    .content{
        width: 50%;
        display: flex;
        flex-direction: column;
    
    }
    .first{
        flex: 1;
        background-color: orangered;
    }
    .second{
        flex: 1;
        background-color: orange;
    }
    .third{
        width: 50%;
        background-color: yellow;
    }
    footer{
        height: 12vh;
        background-color: darkgray;
    }
    
    }

    @media (min-width:200px) and (max-width:599px){
        .container{
            width: 100%;
            height: 100vh;
        }
        header{
            height: 10vh;
            background-color: darkgray;
        }
        
        .third{
            background-color: yellow;
        }
        .fullcontent{
            margin-top: 3vh;
        margin-bottom: 3vh;
            height: 74vh;
            display: flex;
            flex-direction: column;
            
        }
        .content{
        flex: 2;
            display: flex;
            flex-direction: column;
        
        }
        .first{
            flex: 1;
            background-color: orangered;
        }
        .second{
            flex: 1;
            background-color: orange;
        }
        .third{
            flex: 1;
            background-color: yellow;
        }
        footer{
            height: 10vh;
            background-color: darkgray;
        }
        
        }
