*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media(min-width:1280px){
    .container{
        width: 100%;
        height: 100vh;
    }

    header{
        height: 12vh;
        background-color: darkgray;
    }
.middle{
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 76vh;
    display: flex;
}
.first{
    flex: 2;
    background-color:yellowgreen ;
    /* order: 2; */
   
}
.second{
    flex: 1;
    background-color: darkgreen;
    order: -1;
}
.third{
    flex: 1;
    background-color: yellow;
    /* order: 3; */
}
    footer{
        height: 12vh;
        background-color: darkgray;
    }
}
@media(min-width:200px) and (max-width:599px){
    .container{
        width: 100%;
        height: 100vh;
    }

    header{
        height: 10vh;
        background-color: darkgray;
    }
.middle{
    margin-top: 3vh;
    margin-bottom: 3vh;
    height: 74vh;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
}
.first{
    flex: 2;
    background-color:yellowgreen ;
   
}

.second{
    flex: 1;
    background-color: darkgreen;
    
}
.third{
    flex: 1;
    background-color: yellow;
}
    footer{
        height: 10vh;
        background-color: darkgray;
    }
}

@media(min-width:600px) and (max-width:1280px){
    .container{
        width: 100%;
        height: 100vh;
    }

    header{
        height: 10vh;
        background-color: darkgray;
    }
.middle{
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 78vh;
    display: flex;
 flex-wrap: wrap; 
    
}
.first{
    flex: 3;
    background-color:yellowgreen ;
    flex-basis: 100%;
   
}

.second{
    flex: 1;
    float: left;
   flex-basis: 50%;
    background-color: darkgreen;
    
}
.third{
    flex: 1;
    flex-basis: 50%;
    display: flex;
   
    background-color: yellow;
}
    footer{
        height: 10vh;
        background-color: darkgray;
    }
} 
